*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* barra de manvegação */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 99;
    background: #000748;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav-container {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #E4E4E4;
}

.img_user i{
    font-size: 28px;
}

/* menu escondido icone de usuario */
.user_click{
    position: absolute;
    top: 65px;
    background: #3F3E3E;
    max-width: 140px;
    width: 100%;
    border-radius: 4px;
    display: block;
    z-index: 999;
}

.hidden {
    display: none;
}

.form-btn-logout button {
    border: none;
    background-color: inherit;
}

.user_click_op{
    padding: 8px;
}

.user_click_op a,
.user_click_op button{
    color: #fff;
    transition: 0.3s;
}

.user_click_op a:hover,
.user_click_op button:hover {
    text-decoration: none;
    opacity: 0.7;
}

.user_click_op a i,
.user_click_op button i{
    margin-right: 6px;
}

.op_between{
    height: 1px;
    margin: 5px 0;
    width: 100%;
    background: #fff;
}
/*end menu escondido icone de usuario */

.chat, .bell{
    margin-left: 20px;
}

.icons a{
    font-size: 20px;
    color:#fff;
    transition: 0.3s;
}

.icons a:hover{
    opacity: 0.7;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar ul{
    display: flex;
    align-items: center;
    margin: 0;

}

.navbar ul li{
    margin-left: 10px;
}

.navbar ul li a{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s;
}

.navbar ul li a:hover{
    opacity: 0.7;
    text-decoration: none;
}
/* end barra de manvegação */

.container {
    margin-top:70px;
}

/* breadcrumbs */
.breadcrumbs{
    display: flex;
    margin-top: 80px;
    width: 100%;
    justify-content: space-between;
}

.breadcrumbs ul{
   display: flex;
   margin-top: 20px;
}

.breadcrumbs ul li{
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 800;
    color: #4885FD;
}

.breadcrumbs ul li a{
    color: #4885FD;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.breadcrumbs ul li span{
    color: #797979;
}

.breadcrumbs ul li a:hover{
    color: rgb(173, 7, 7)
}

.bc_color_custom{
    color: #4885FD;
}

.logo{
    max-width: 90px;
}

.img_logo{
    margin-top: 10px;
    width: 100%;
}
/* end-breadcrumbs */

/* style geral */
.main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: calc(100vh - 70px);
    padding: 30px 0;
}

.main h1, h2{
    font-weight: normal;
}

.main h2{
    margin-top: 30px;
}
/* end style geral */

/* carousel */
.featured-carousel{
    width: 100%;
}
/* end carousel */

/* campos do carousel */
.vaga{
    width: 250px;
    height: 320px;
    background: #E4E3FE;
}

.field{
    margin: 10px;
}

.vaga_img{
    display: flex;
    justify-content: space-around;
}

.vaga_img img{
    margin: 10px 0px 5px 0px;
    height: 200px;
}
/* end campos do carousel */

/* palavra chave */
.key{
    display: inline-block;
    margin: 5px 0px 0px 0px;
    padding: 0px 6px 0px 6px;
    background: #000748;
    border-radius: 50px;
    color:#fff;
    text-align: center;
}
/* end palavra chave */

/* barra azul */
.between{
    background: #000748;
    height: 5px;
    border-radius: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* end barra azul */

/* inicio do perfil */
.perfil_edit{
    margin: 25px;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.img_edit{
    margin-top: 25px;
    margin-right: 50px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background: #E4E3FE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_edit i{
    font-size: 5rem;
}

.info_edit h2{
    margin-bottom: 0px;
}

.star_color{
    color: rgb(241, 208, 20);
}
/* end inicio do perfil */

/* Perfil create */

.perfil-photo-container {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;

}

.photo-container {
    background-color: lightgray;
    font-size: 3.4rem;
    width: 90px;
    height: 90px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn-avatar-group {
    display: flex;
    flex-direction: column;
}

input#avatar {
    display: none;
}

.btn-input-avatar {
    display: inline-block;
    background-color: #000748;
    font-size: .9rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: white;
}

.btn-input-avatar:hover {
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    background-color: #010e81;
}

.btn-remove-avatar {
    background-color: transparent;
    color: #000748;
    font-size: .9rem;
    border: 2px solid #000748;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-remove-avatar:hover {
    color: white;
    background-color: #000748;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

/* End perfil create */

/* h3 Subtitulo dos Perfis */
.subtitle_perfil, .subtitle{
    margin-bottom: -15px;
    color: #4885FD;
    font-weight: normal;
}
/* end h3 Subtitulo dos Perfis */

/* organização das listas no perfil_user */
.org_perfil ul{
    margin: 20px 12px;
}
/* organização das listas no perfil_user */

/* habilidades */

.skills ul li{
    margin-top: 10px;
    font-size: 18px;
}
/* seta */
.direction_color_custom{
    color: #A00000;
}
/* end seta */
/* end habilidades */

/* experiências profissionais */
.exp{
    margin-top: 30px;
}

.exp_emp{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 3px;
}
/* end experiências profissionais */

/* linha entre as experiencias profissionais */
.exp_between{
    width: 40%;
    height: 1px;
    background: #c4c4c4;
    margin: -10px 12px -5px 12px;
}
/* end linha entre as experiencias profissionais */

/* palavra chave perfil */
.keyword ul{
    margin-top: 5px;
}
/* end palavra chave perfil */

/* avaliações */
.container_ev{
    display: flex;
    background: #E4E4E4;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
    width: 100%;
    height: 150px;
}

.align_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.img_ev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
}

.img_ev i{
    font-size: 28px;
}

.desc_ev{
    margin-top: 5px;
    width: 80%;
}

.desc_ev h4{
    color: #000748;
    margin-bottom: 0px;
}

.desc_ev span{
    font-size: 16px;
    color: #000;
}

.star_ev{
    margin-bottom: 1px;
}

.star_ev i{
    font-size: 10px;
    margin-right: 3px;
}
/* end avaliações */

/* filterBar */
.side_bar{
    display: flex;
    width: 310px;
    height: calc(80vh - 100px);
    position: fixed;
    left: 0;
    top: 100;
    transition: all .3s ease-in-out;
}

.side_bar.toggled{
    width: 56px;
}

.left_bar{
    background: #E4E4E4;
    width: 280px;
    height: calc(80vh - 100px);
    outline: none;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.left_bar.toggled{
    width: 0px;
}

.left_bar h2{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.left_bar form{
    margin-top: 25px;
}

.form-checkbox{
    margin-top: -3px;
    margin-left: 30px;
}

.main_toggle_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(121, 11, 11);
    margin-top: 150px;
    width: 36px;
    height: 36px;
    border-radius: 0px 10px 10px 0px;
}

.vagas_toggle_button{
    background: transparent;
    color: #fff;
    outline: none;
    border: none;
    position: absolute;
    cursor: pointer;
    height: 24px;
    width: 24px;
    transform: rotate(360deg);
    transition: all .3s ease-in-out;
}

.vagas_toggle_button.rotated{
    transform: rotate(180deg);
}

.text_camp{
    margin-left: 25px;
}

.text_camp label{
    display: block;
    font-weight: bold;
}

.text_camp input{
    width: 200px;
    margin-bottom: 20px;
}

.btn_pesquisa{
    margin-top: 20px;
    margin-left: 25%;
}

.container_vagas, .container_candidaturas{
    margin: 20px 0px 0px 100px;
}

.container_vagas h3, .container_candidaturas h3{
    margin-bottom: 30px;
}
/* end filterBar */

/* vagas */
.main_vagas, .main_candidaturas{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.title_vaga, .desc_vaga{
    font-size: 16px;
    display: block;
}

.title_vaga a{
    color:black;
}

.title_vaga a:hover{
    text-decoration: none;
    color: #A00000;
}

.key_vaga{
    display: inline-block;
    margin: 5px 0px 0px 0px;
    padding: 0px 6px 0px 6px;
    background: #000748;
    border-radius: 50px;
    color:#fff;
    text-align: center;
    font-size: 12px;
    width: 100px;
}

.view_desc{
    font-size: 18px;
}

.eye{
    margin-right: 20px;
}
/* end vagas */

/* candidaturas */
.candidaturas h4{
    font-size: 19px;
    margin-bottom: 0px;
    font-weight: 700;
}

/* ativo */
.circle_color_on{
    color: rgb(45, 224, 45);
}

/* inativo */
.circle_color_off{
    color: rgb(173, 7, 7);
}

.key_cand{
    display: inline-block;
    margin: 5px 0px 7px 0px;
    padding: 0px 6px 0px 6px;
    background: #a01fc0;
    border-radius: 50px;
    color:#fff;
    text-align: center;
    font-size: 10px;
}

.candidaturas h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
}

.settings_cand i{
    font-size: 18px;
    margin-right: 10px;
}

.cancel_cand{
    color: rgb(173, 7, 7);
}
/* end candidaturas */

/* Vaga de emprego */
.titulo_vaga_de_emprego{
    margin-top: 50px;
    margin-bottom: 35px;
}

.titulo_vaga_de_emprego h3{
    font-size: 22px;
    color: #4885FD;
}

.info_vagas_de_emprego{
    height: 200px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_vaga_de_emprego{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #c4c4c4;
    border-radius: 50%;
    margin-right: 30px;
}

.icon_vaga_de_emprego i{
    font-size: 50px;
}

.edit_vagas_de_emprego{
    font-size: 20px;
}

.job_type{
    display: inline-block;
    margin: 5px 0px 0px 0px;
    padding: 0px 6px 0px 6px;
    background: #a01fc0;
    border-radius: 50px;
    color:#fff;
    text-align: center;
    font-size: 12px;
}

.txt_vaga_de_emprego{
    width: 90%;
    margin-bottom: 40px;
}

.requisitos_vaga_de_emprego{
    font-size: 18px;
    margin-top: -10px;
}

.subitens_vaga_de_emprego{
    margin-left: 15px;
}

.key_vaga_de_emprego{
    display: inline-block;
    margin: 5px 0px 0px 0px;
    padding: 0px 4px 0px 4px;
    background: #000748;
    border-radius: 50px;
    color:#fff;
    text-align: center;
    font-size: 10px;
}
/* end Vaga de emprego */
